name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag myshell-openvoice-docker:latest

    - name: Run the Docker container
      run: docker run -d -p 7860:7860 --name openvoice-test myshell-openvoice-docker:latest

    - name: Wait for the application to start
      run: |
        echo "Waiting for the application to start..."
        sleep 30

    - name: Check if the application is responding
      run: curl -f http://localhost:7860

    - name: Stop and remove the container
      if: always()
      run: |
        docker stop openvoice-test
        docker rm openvoice-test
